.reviews__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #00c0ca;

    font-size: 28px;
    padding-bottom: 40px;

    @media screen and (min-width: 480px) {
        font-size: 32px;
        padding-bottom: 40px;
    }

    @media screen and (min-width: 768px) {
        font-size: 36px;
        padding-bottom: 40px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 40px;
        padding-bottom: 40px;
    }
}

.sim-slider {
    // max-width: 1000px;
    min-width: 290px;
    margin: 20px auto;
    padding: 30px 50px;
    // border: 1px solid #ccd;
    background-color: white;
}

/* General styles */
.sim-slider {
    position: relative;
}

.sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    text-align: center;

    height: 530px; 

    @media screen and (min-width: 480px) {
        font-size: 14px;
        height: 430px;
    }
    
    @media screen and (min-width: 768px) {
        font-size: 16px;
        height: 370px;
    }
    
    @media screen and (min-width: 1024px) {
        font-size: 18px;
        line-height: 2.22;
    }
}

.sim-slider-element {
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;

    height: auto;
}

.sim-slider-arrow {
    width: 20px;
    height: 20px;
    fill: #00c0ca;
}

/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 4;
    width: 22px;
    height: 40px;
}

div.sim-slider-arrow-left {
    left: 10px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-left.png") no-repeat;
}

div.sim-slider-arrow-right {
    right: 10px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/slider/sim-files/sim-arrow-right.png") no-repeat;
}

div.sim-slider-arrow-left:hover {
    opacity: 1.0;
}

div.sim-slider-arrow-right:hover {
    opacity: 1.0;
}

div.sim-slider-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
}

span.sim-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #00c0ca;
    border-radius: 5px;
    cursor: pointer;
}

// ==========================================================================================

.review-item__image {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.review-item__title {
    font-weight: 700;
    line-height: 1.86;
    color: #000000;
    text-align: center;

    font-size: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 480px) {
        font-size: 18px;
        padding-bottom: 18px;
    }

    @media screen and (min-width: 768px) {
        font-size: 20px;
        padding-bottom: 20px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 22px;
        padding-bottom: 22px;
    }
}

.review-item__link {
    color: #00c0ca;
}

.review-item__text {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    line-height: 2.59;
    text-align: center;
    display: block;
    letter-spacing: 0.04em;
    color: #000000;
    overflow: auto;
    max-height: 314px;

    font-size: 14px;

    @media screen and (min-width: 480px) {
        font-size: 16px;
    }

    @media screen and (min-width: 768px) {
        font-size: 18px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 20px;
        line-height: 2.22;
    }
}