<section class="section about-trainer" id="about-trainer">

    <div class="container">

        <h2 class="about-trainer__title">
            Про тренера
        </h2>
        
        <p class="about__introduce">
            Мене звати <br> 
            <span class="about__introduce---name">Анастасія Мірошник</span>
        </p>
        
        <ul class="about">
            <li class="about__item">Фіз. реабілітолог з вищою освітою</li>
            <li class="about__item">Сертифікований дієтолог-нутріціолог</li>
            <li class="about__item">Практикуючий фітнес-тренер з 2013 року</li>
            <li class="about__item">Автор ефективної методики схуднення "Fitness Sprint"</li>
            <li class="about__item">Ділюсь експетністю в засобах масової інформації</li>
            <li class="about__item">Досвід в фітнес-індустрії понад 9 років</li>
        </ul>
        
    </div>

</section>