<section class="section description">

    <div class="container">

        <div class="container">

            <h2 class="description__title">
                Переваги тренувань
            </h2>

            <p class="description__description">
                Завдяки покроковим діям, розробленної та успішно практикуючій методиці, вже схудли понад 700 жінок
                 - і після моїх тренувань ви отримаєте:
            </p>
        
            <ul class="advantage">
                <li class="advantage__item">
                    <div class="advantage__item-icon">
                        <svg class="advantage__icon">
                            <use href="./images/icons.svg#icon-advantage-img1"></use>
                        </svg>
                    </div>
                    <h3 class="advantage__title">Відчуття легкості</h3>
                </li>

                <li class="advantage__item">
                    <div class="advantage__item-icon">
                        <svg class="advantage__icon">
                            <use href="./images/icons.svg#icon-advantage-img2"></use>
                        </svg>
                    </div>
                    <h3 class="advantage__title">Впевненість у собі</h3>
                </li>

                <li class="advantage__item">
                    <div class="advantage__item-icon">
                        <svg class="advantage__icon">
                            <use href="./images/icons.svg#icon-advantage-img3"></use>
                        </svg>
                    </div>
                    <h3 class="advantage__title">Підвищення працездатності</h3>
                </li>
                
                <li class="advantage__item">
                    <div class="advantage__item-icon">
                        <svg class="advantage__icon">
                            <use href="./images/icons.svg#icon-advantage-img4"></use>
                        </svg>
                    </div>
                    <h3 class="advantage__title">Бажаний результат</h3>
                </li>
            </ul>
        </div>

    </div>

</section>