<footer class="footer">

    <div class="container footer__columns">

        <!-- <div class="footer__columns-first">
            <a class="logo link" href="index.html">Web<span class="logo-footer">Studio</span></a>
            <address class="footer-contacts address">
                <ul class="footer-contacts__list list">
                    <li class="footer-contacts__item">
                        <a class="footer-contacts__link link footer-contacts__link--address"
                            href="https://goo.gl/maps/5prfQH1JwphvAtdC9">
                            м. Київ, бул. Лесі Українки, 26
                        </a>
                    </li>
                    <li class="footer-contacts__item">
                        <a class="footer-contacts__link link" href="mailto:info@example.com">info@example.com</a>
                    </li>
                    <li class="footer-contacts__item">
                        <a class="footer-contacts__link link" href="tel:+380991111111">+38 099 111 11 11</a>
                    </li>
                </ul>
            </address>
        </div> -->

        <!-- <div class="footer-social">
            <h2 class="footer__columns--title">Приєднуйтесь</h2>
            <ul class="footer-social__list">
                <li class="footer-social__item">
                    <a href="" class="footer-social__link">
                        <svg class="footer-social__logo">
                            <use href="./images/icons.svg#icon-social-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a href="" class="footer-social__link">
                        <svg class="footer-social__logo">
                            <use href="./images/icons.svg#icon-social-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a href="" class="footer-social__link">
                        <svg class="footer-social__logo">
                            <use href="./images/icons.svg#icon-social-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social__item">
                    <a href="" class="footer-social__link">
                        <svg class="footer-social__logo">
                            <use href="./images/icons.svg#icon-social-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div> -->

        <div class="footer-modal">
            <h2 class="footer__columns--title">Залишились питання? <br> Залиште свої дані:</h2>
            <form class="modal__form form" id="form-footer" autocomplete="off">       
                <div class="form__field">
                    <label class="form__label" for="name">Ім'я</label>
                    <input class="form__input" type="text" id="name" name="name" />
                    <svg class="form__icon">
                        <use href=./images/icons.svg#icon-modal-name></use>
                    </svg>
                </div>      
                <div class="form__field">
                    <label class="form__label" for="tel">Телефон</label>
                    <input class="form__input" type="tel" id="tel" name="tel" />
                    <svg class="form__icon">
                        <use href=./images/icons.svg#icon-modal-tel></use>
                    </svg>
                </div>      
                <button type="submit" class="modal__button-form">Відіслати</button>        
            </form>
        </div>

    </div>
</footer>