<header class="header">

    <div class="container">

        <div class="header__box">

            <a class="header__logo" href="index.html">MIROSHNIK FIT</a>

            <nav class="header__nav">
                <ul class="nav__list">
                    <li class="nav__item"><a class="nav__link" href="">Головна</a></li>
                    <li class="nav__item"><a class="nav__link" href="#about-trainer">Про тренера</a></li>
                    <li class="nav__item"><a class="nav__link" href="#reviews">Відгуки</a></li>
                    <li class="nav__item"><a class="nav__link" href="#programs">Програми</a></li>
                </ul>
            </nav>

            <button type="button" class="header__burger" data-menu-open>
                <svg width="20" height="12" class="button__icon">
                    <use href="images/icons.svg#icon-mobile-menu"></use>
                </svg>
            </button>

        </div>


        <div class="mobile__menu is-hidden" data-menu>
        
            <button type="button" class="menu__btn_close" data-menu-close>
                <svg width="22" height="22" class="menu__svg">
                    <use href="images/icons.svg#icon-close"></use>
                </svg>
            </button>

            <ul class="menu__list">
                <li class="menu__item"><a href="#" class="menu__link">Головна</a></li>
                <li class="menu__item"><a href="#about-trainer" class="menu__link">Про тренера</a> </li>
                <li class="menu__item"><a href="#reviews" class="menu__link">Відгуки</a> </li>
                <li class="menu__item"><a href="#programs" class="menu__link">Програми</a> </li>
            </ul>
        
        </div>


    </div>

</header>