<section class="section programs" id="programs">

    <div class="container">
    
        <h2 class="programs__title">Вибери свій формат участі</h2>

        <ul class="formats">
    
            <li class="formats__item">
                <div class="fotmats_points">
                    <p class="formats__title">Персональні тренування Zoom/Skype</p>
                    <!-- <p class="formats__primary-text">Персональні тренування Zoom/Skype</p> -->
                    <p class="formats__secondary-text">45-60 хвилині тренування онлайн</p>
                    <p class="formats__secondary-text">Контроль техніки вправ</p>
                    <p class="formats__secondary-text">Контроль техніки дихання</p>
                    <p class="formats__secondary-text">Перевірка та коригування раціону харчування</p>
                    <p class="formats__secondary-text">Питання-відповіді у прямому ефірі</p>
                    <p class="formats__secondary-text">Онлайн підтримка 24/7</p>
                    <p class="formats__secondary-text">В подарунок авторський збіник із 120 ПП-рецептами</p>
                    <p class="formats__secondary-text">Важливо! Результат гарантований завдяки дотриманню виконання плана програми</p>
                </div>
                <button class="formats__button" type="button" data-modal-programs1-open>Детальніше</button>
            </li>

            <li class="formats__item">
                <div class="fotmats_points">
                    <p class="formats__title">Онлайн марафон <br> «Пружні сідниці + Струнка талія»</p>
                    <!-- <p class="formats__primary-text">Онлайн марафон <br> «Пружні сідниці + Струнка талія»</p> -->
                    <p class="formats__secondary-text">Доступ до YouTub каналу</p>
                    <p class="formats__secondary-text">Різноманітні тренування на всі групи м'язів</p>
                    <p class="formats__secondary-text">Індивідуальний раціон харчування з прикладами кожного прийому їжі</p>
                    <p class="formats__secondary-text">Онлайн підтримка 24/7</p>
                    <p class="formats__secondary-text">В подарунок авторський збіник із 120 ПП-рецептами</p>
                    <p class="formats__secondary-text">Важливо! Результат гарантований завдяки дотриманню виконання плана програми</p>
                </div>
                <button class="formats__button" type="button" data-modal-programs2-open>Детальніше</button>
            </li>

            <li class="formats__item">
                <div class="fotmats_points">
                    <p class="formats__title">Раціон <br> харчування</p>
                    <!-- <p class="formats__primary-text">Раціон <br> харчування</p> -->
                    <p class="formats__secondary-text">Персональне складання раціону харчування</p>
                    <p class="formats__secondary-text">Щоденна перевірка та коригування в залежності від ситуації</p>
                    <p class="formats__secondary-text">Індивідуальна консультація</p>
                    <p class="formats__secondary-text">В подарунок авторський збіник із 120 ПП-рецептами</p>
                    <p class="formats__secondary-text">Важливо! Результат гарантований завдяки дотриманню раціону харчування</p>
                </div>
                <button class="formats__button" type="button" data-modal-programs3-open>Детальніше</button>
            </li>
        </ul>
        
    </div>

</section>