<section class="section reviews" id="reviews">
    <div class="container">
        <h2 class="reviews__title">Відгуки</h2>
        
        <div class="sim-slider">
            <ul class="sim-slider-list">
                <!-- <li><img src="./images/customer-reviews/no-image.gif" alt="screen"></li> -->

                <li class="sim-slider-element">
                    <div class="review-item__image">
                        <img src="./images/reviews/reviews-img01-150x150.png" alt="0">
                    </div>
                    <h2 class="review-item__title">
                        Наталія
                    </h2>
                    <!-- <a class="review-item__link" href="https://www.instagram.com/_taha_lee/" target="_blank">(@_taha_lee)</a> -->
                    <p class="review-item__text">
                        До тренувань із Настею, тренувалася в іншій залі з тренером та зірвала спину. Настя проводити тренування адаптаційно,
                        без зайвих навантажень, що для мене є дуже важливим.
                    </p>
                </li>

                <li class="sim-slider-element">
                    <div class="review-item__image">
                        <img src="./images/reviews/reviews-img02-150x150.png" alt="1">
                    </div>
                    <h2 class="review-item__title">
                        Альбіна
                    </h2>
                    <!-- <a class="review-item__link" href="https://www.instagram.com/_taha_lee/" target="_blank">(@albinatyshkevich)</a> -->
                    <p class="review-item__text">
                        Дякую Анастасію, за її виконану роботу, чуйність - і в результаті наш спільний результат, яким дуже задоволена))
                    </p>
                </li>

                <li class="sim-slider-element">
                    <div class="review-item__image">
                        <img src="./images/reviews/reviews-img03-150x150.png" alt="2">
                    </div>
                    <h2 class="review-item__title">
                        Наталія
                    </h2>
                    <!-- <a class="review-item__link" href="https://www.instagram.com/natalinamilenko/" target="_blank">(@natalinamilenko)</a> -->
                    <p class="review-item__text">
                        Звичайно було важко починати, і все ж таки Настя мені допомогла подолати цей бар'єр і ефективно влитися в тренувальний процес!))
                    </p>
                </li>

                <li class="sim-slider-element">
                    <div class="review-item__image">
                        <img src="./images/reviews/reviews-img04-150x150.png" alt="3">
                    </div>
                    <h2 class="review-item__title">
                        Валентина
                    </h2>
                    <!-- <a class="review-item__link" href="https://www.instagram.com/tina_chikel/" target="_blank">(@tina_chikel)</a> -->
                    <p class="review-item__text">
                        Настя допомогла позбутися болю у спині. Дякую за круті та ефективні тренування
                    </p>
                </li>
            </ul>
            <div class="sim-slider-arrow-left"></div>
            <div class="sim-slider-arrow-right"></div>
            <div class="sim-slider-dots"></div>
        </div>

    </div>
</section>

<!-- <section class="section reviews" id="reviews">

    <div class="container">

        <h2 class="reviews__title">Відгуки</h2>

        <div class="view">

            <ul class="reviews__list content">

                <li class="reviews__item element">

                    <div class="reviews__img">
                        <img src="./images/customer-reviews/image1_80x80.jpg" alt="">
                    </div>

                    <h2 class="reviews__details--title">Наталія (@_taha_lee)</h2>

                    <div class="container__position">
                        <div class="reviews__container">
                            <p class="reviews__text">До тренувань із Настею, тренувалася в іншій залі з тренером та зірвала спину. Настя проводити тренування адаптаційно,
                            без зайвих навантажень, що для мене є дуже важливим. Я отримала результат жодного разу не скаржачись на здоров'я.</p>
                        </div>
                    </div>

                        <div class="reviews__container">
                            <p class="reviews__text">До тренувань із Настею, тренувалася в іншій залі з тренером та зірвала спину. Настя
                                проводити тренування адаптаційно,
                                без зайвих навантажень, що для мене є дуже важливим. Я отримала результат жодного разу не скаржачись на
                                здоров'я.</p>
                        </div>

                    <div class="reviews__details">
                        <ul class="reviews__details--list">
                            <li class="reviews__details--item">
                                <svg class="reviews__details--icon" width="4" height="4">
                                    <use href="./images/icons.svg#icon-ellipse"></use>
                                </svg>
                            </li>
                            <li class="reviews__details--item">
                                <svg class="reviews__details--icon" width="4" height="4">
                                    <use href="./images/icons.svg#icon-ellipse"></use>
                                </svg>
                            </li>
                            <li class="reviews__details--item">
                                <svg class="reviews__details--icon" width="4" height="4">
                                    <use href="./images/icons.svg#icon-ellipse"></use>
                                </svg>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="reviews__item element">
                    <div class="reviews__img">
                        <img src="./images/customer-reviews/image2_80x80.png" alt="">
                    </div>
                    <h2 class="reviews__details--title">Наталія (@natalinamilenko)</h2>
                    <div class="container__position">
                        <div class="reviews__container">
                            <p class="reviews__text">Дякую Анастасію, за її виконану роботу, чуйність - і в результаті наш спільний результат, яким дуже задоволена))/p>
                        </div>
                    </div>
                        <div class="reviews__container">
                            <p class="reviews__text">Дякую Анастасію, за її виконану роботу, чуйність - і в результаті наш спільний результат,
                                яким дуже задоволена))/p>
                        </div>
                    <div class="reviews__details">
                        <ul class="reviews__details--list">
                            <li class="reviews__details--item">
                                <svg class="reviews__details--icon" width="4" height="4">
                                    <use href="./images/icons.svg#icon-ellipse"></use>
                                </svg>
                            </li>
                            <li class="reviews__details--item">
                                <svg class="reviews__details--icon" width="4" height="4">
                                    <use href="./images/icons.svg#icon-ellipse"></use>
                                </svg>
                            </li>
                            <li class="reviews__details--item">
                                <svg class="reviews__details--icon" width="4" height="4">
                                    <use href="./images/icons.svg#icon-ellipse"></use>
                                </svg>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="reviews__item element">
                    <div class="reviews__img">
                        <img src="./images/customer-reviews/image3_80x80.jpg" alt="">
                    </div>
                    <h2 class="reviews__details--title">Альбіна (@albinatyshkevich)</h2>
                    <div class="container__position">
                        <div class="reviews__container">
                            <p class="reviews__text">Звичайно було важко починати, і все ж таки Настя мені допомогла подолати цей бар'єр і ефективно влитися в тренувальний
                            процес!))</p>
                        </div>
                    </div>
                        <div class="reviews__container">
                            <p class="reviews__text">Звичайно було важко починати, і все ж таки Настя мені допомогла подолати цей бар'єр і
                                ефективно влитися в тренувальний
                                процес!))</p>
                        </div>
                    <div class="reviews__details">
                        <ul class="reviews__details--list">
                            <li class="reviews__details--item">
                                <svg class="reviews__details--icon" width="4" height="4">
                                    <use href="./images/icons.svg#icon-ellipse"></use>
                                </svg>
                            </li>
                            <li class="reviews__details--item">
                                <svg class="reviews__details--icon" width="4" height="4">
                                    <use href="./images/icons.svg#icon-ellipse"></use>
                                </svg>
                            </li>
                            <li class="reviews__details--item">
                                <svg class="reviews__details--icon" width="4" height="4">
                                    <use href="./images/icons.svg#icon-ellipse"></use>
                                </svg>
                            </li>
                        </ul>
                        
                    </div>
                </li>

                <li class="reviews__item element">
                    <div class="reviews__img">
                        <img src="./images/customer-reviews/image4_80x80.jpg" alt="">
                    </div>
                    <h2 class="reviews__details--title">Валентина (@tina_chikel)</h2>
                    <div class="container__position">
                        <div class="reviews__container">
                            <p class="reviews__text">Настя допомогла позбутися болю у спині. Дякую за круті та ефективні тренування</p>
                        </div>
                    </div>
                        <div class="reviews__container">
                            <p class="reviews__text">Настя допомогла позбутися болю у спині. Дякую за круті та ефективні тренування</p>
                        </div>
                    <div class="reviews__details">
                        <ul class="reviews__details--list">
                            <li class="reviews__details--item">
                                <svg class="reviews__details--icon" width="4" height="4">
                                    <use href="./images/icons.svg#icon-ellipse"></use>
                                </svg>
                            </li>
                            <li class="reviews__details--item">
                                <svg class="reviews__details--icon" width="4" height="4">
                                    <use href="./images/icons.svg#icon-ellipse"></use>
                                </svg>
                            </li>
                            <li class="reviews__details--item">
                                <svg class="reviews__details--icon" width="4" height="4">
                                    <use href="./images/icons.svg#icon-ellipse"></use>
                                </svg>
                            </li>
                        </ul>
                        
                    </div>
                </li>

            </ul>

        </div>

        <div class="navigation">
            <span class="previous"><i class="fas fa-arrow-left"></i></span><span class="next"><i
                    class="fas fa-arrow-right"></i></span>
        </div>

    </div>
    
</section> -->